*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ballon-animation{
    position: relative;
    background-color: rgb(135,206,250);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.flying-cloud{
    position: absolute;
    width: 20%;
    
}
.flying-balloon{
   position: absolute;
    width: 25%;
    bottom: 25%;
    right: 40%;
}
.flying-cloud:nth-child(1){
    
    left: 20%;
    top: 60%;
}
.flying-cloud:nth-child(2){
    
    left: 33%;
    top: 68%;
}
.flying-cloud:nth-child(3){
  
    right: 5%;
    bottom: 5%;
    z-index: 1;
}
.flying-cloud:nth-child(4){
    right: 20%;
    top: 38%;
}
.flying-cloud:nth-child(5){
    left: 37%;
    top: 10%;
    z-index: 1;
}

